body{
    background-color: blanchedalmond;
}
#container-1{
margin: 2px;
background-color:rgb(173, 162, 162);
height: 33px;
padding: 10px;
align-content: center;
position: relative;
margin-bottom: 10px;
}

#item{

    position: relative;
    padding-bottom: 4px;
    top: -2.6px;
    left: 15px;
    width: 500px;
    height: 33px;
    border-radius: 20px;
    padding: 2px;
    padding-left: 10px;
    outline: none;
    border-width: 0px;
    font-size: 18px;
}
#btn-srch{
    height: 22px;
    text-align: center;
    font-size: 25px;
    align-content: center;
    background-color: white;
    outline: none;
    border: none;
    position: relative;
    right: 28px;
    border-radius: 100px;
    top: -1.9px;
}
#btn-srch:hover{
    cursor: pointer;
}
#btn-sub{

    height: 33px;
    position: relative;
    top: -3.9px;
    border-radius: 18px;
    outline: none;
    border: none;
    width: 50px;
    right: 9px;
    background-color: rgb(70, 67, 69);
    color: bisque;
}

#products{
    padding-top: 10px;
display: block;
background-color: white;
width: 100%;
height: 100vh;
display: flex;
margin: 2px;
flex-wrap: wrap;
gap: 10px;

}

.productlist{
    list-style-type: none;
    margin:  none;
    display: inline-block;
    align-items: center;

}

.productcard{
    padding: 1%;
    position: relative;
    background-color: rgb(90, 153, 182);
    margin: 2px;
    height:fit-content;
    width: fit-content;
     border-radius: 7px; 
     font-weight: bold;
}

.productli{
    list-style-type: none;
}